# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules

# testing
/coverage

# production
/build

.env

# media
**/media

# log
**/logs

# ldap config file
ldap.config.json

# package-lock
**/package-lock.json

# aws.yml file
/.github/workflows/aws.yml