.col-set1 {
  background-color: var(--col-F1F5FF);
}
.col-set2 {
  background-color: var(--col-FEFBEC);
}
.col-set3 {
  background-color: var(--col-EEF9FB);
}
.col-set4 {
  background-color: var(--col-FDF3FC);
}
.col-set5 {
  background-color: var(--col-FFF7ED);
}
.col-set6 {
  background-color: var(--col-F0F0F2);
}
.col-set7 {
  background-color: var(--col-EEF8FF);
}
.col-set8 {
  background-color: var(--col-EEF0F4);
}

.main-box {
  border-radius: 15px;
  border: 1px solid var(--col-E9E0E0);
  padding: 16px 13px;
  font-size: var(--f-18);
  font-weight: var(--fw-600);
  line-height: 23.81px;
  color: var(--col-darker);
}

.main-box .icon-box {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid var(--col-E9E0E0);
  margin-top: -30px;
  position: absolute;
}

.main-box h5 {
  font-family: var(--col-Noto);
  font-size: var(--f-28);
  font-weight: var(--fw-500);
  line-height: 38.14px;
  margin-left: 77px;
  margin-top: -10px !important;
}
.main-box p {
  margin-top: 20px;
}
