/* login/forget css starts */
.left-box {
    margin-bottom: 18px;
    padding: 70px 33px 0 33px;
}
.left-box_form {
    border: 1px solid var(--col-dark1);
    border-radius: 30px;
    background-color: var(--col-subtle);
    padding: 16px;
    max-width: 515px;
    width: 100%;
}
.left-box .brand-logo {
    margin-bottom: 16px;
    width: 18pc;
}
.left-box_form .welcome-box {
    margin-bottom: 16px;
}
.left-box_form h1 {
    font-family: var(--col-red-hat);
    font-size: var(--f-42);
    font-weight: var(--fw-600);
    line-height: 55.57px;
    color: var(--col-4A4543);
    margin-bottom: 0;
}
.left-box_form h2 {
    font-family: var(--col-red-hat);
    font-size: var(--f-32);
    font-weight: var(--fw-600);
    line-height: 42.34px;
    text-align: left;
    width: 100%;
    color: var(--col-333333);
    margin-bottom: 26px;
}
.left-box_form .seperator {
    margin-bottom: 24px;
}
.input-box:nth-child(1) {
    margin-bottom: 24px;
}
.input-box label {
    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-500);
    line-height: 21.17px;
    text-align: left;
    color: var(--col-425466);
}
.form-control {
    padding: 12px 20px;
    border: 0.5px solid var(--col-dark1);
    border-left: none;
    border-radius: 0 6px 6px 0 !important;

    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-500);
    line-height: 15px;
    text-align: left;
    color: var(--col-darker);
    padding-right: 40px;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--col-darker);
    border-left: none;
    transition: none;
}
.input-group:focus-within .input-group-text {
    box-shadow: none;
    border: 1px solid var(--col-darker);
}
.form-control::placeholder {
    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-500);
    line-height: 15px;
    text-align: left;
    color: var(--col-dark2);
}
.input-group-text {
    height: 100%;
    background-color: var(--col-light3);
    border: 0.5px solid var(--col-dark1);
    border-radius: 6px 0 0 6px;
    padding: 14px;
}
.input-group.error .input-group-text,
.input-group.error .form-control {
    border: 0.5px solid var(--col-DE4849);
    transition: none;
}
.input-group.error .form-control {
    border-left: none;
    border-radius: 0 6px 6px 0 !important;
}
.error-info {
    display: none;
    color: var(--col-error);
    margin-top: 5px;
    font-family: var(--col-red-hat);
    font-size: var(--f-10);
    font-weight: var(--fw-500);
    line-height: 13.23px;
    text-align: left;
}
.input-group.error + .error-info {
    display: block;
}
.password-lenght {
    font-family: var(--col-red-hat);
    font-size: var(--f-10);
    font-weight: var(--fw-400);
    line-height: 12px;
    text-align: left;
    color: var(--col-7A7A9D);
    margin-bottom: 16px;
}
.input-group.error ~ .password-lenght {
    display: none;
}
.input-group:focus-within ~ .password-lenght {
    display: none;
}
.validation {
    display: none;
}
.validation.success {
    display: block;
    position: absolute;
    right: 17px;
    top: 13px;
}
.password-eye {
    position: absolute;
    right: 17px;
    top: 13px;
    z-index: 10;
}
.forgot-password {
    font-family: var(--col-Noto);
    font-size: var(--f-12);
    font-weight: var(--fw-400);
    line-height: 16.34px;
    text-align: left;
    color: var(--col-info);
    margin-bottom: 32px;
}
.btn-box .signin-btn {
    font-family: var(--col-Noto);
    font-size: var(--f-18);
    font-weight: var(--fw-700);
    line-height: 14px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 20px;
    width: 100%;
    color: var(--col-white);
    cursor: pointer;
    margin-bottom: 24px;
}
.btn-box .signin-btn {
    background-color: var(--col-primary);
}
.btn-box .signin-btn .left-arrow {
    margin-left: 12px;
}
.btn-box .signin-btn.disable {
    background-color: var(--col-primary);
    opacity: 0.5;
    pointer-events: none;
}
.other-login-info {
    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-400);
    line-height: 21.17px;
    text-align: center;
    color: var(--col-7A7A9D);
    margin-bottom: 16px;
}
.login-opts > div {
    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-600);
    line-height: 21.17px;
    text-align: center;
    color: var(--col-333333);
    box-shadow: 0px 3px 8px -1px #3232470d, 0px 0px 1px 0px #0c1a4b3d;
    background-color: var(--col-white);
    padding: 17px 14px;
    border-radius: 8px;
}
.login-opts > div:nth-child(2) {
    margin-left: 25px;
}
.left-box_form .company-login {
    margin-left: 12px;
}
.version {
    margin-top: 28px;
    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-500);
    line-height: 21.17px;
    text-align: left;
    color: var(--col-757575);
}
.right-box {
    background-image: url(../../assets/Image/right-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
    position: relative;
}
.right-text {
    position: absolute;
    bottom: 0;
}
.right-text p {
    font-family: var(--col-red-hat);
    font-size: var(--f-36);
    font-weight: var(--fw-700);
    line-height: 47.63px;
    letter-spacing: 0.08em;
    text-align: center;
    color: var(--col-333333);
}
.chat-box-btn {
    position: fixed;
    bottom: 22px;
    left: 23px;
    border: 1px solid transparent;
    background: transparent;
}


/* forgot-password-css-start */
.left-box.forgot-box .left-box_form {
    min-height: 625px;
    position: relative;
}
.back-opt {
    font-family: var(--col-red-hat);
    font-size: var(--f-20);
    font-weight: var(--fw-600);
    line-height: 26.46px;
    text-align: left;
    margin-left: 12px;
}
.forgot-info {
    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-500);
    line-height: 21.17px;
    text-align: left;
    color: var(--col-757575);
    margin-bottom: 48px;
}
.existing-account {
    position: absolute;
    bottom: 0;
}
.existing-account p {
    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-500);
    line-height: 21.17px;
    text-align: left;
    color: var(--col-757575);
}
.existing-account .sign-in {
    color: var(--col-primary);
    font-weight: var(--fw-700);
    cursor: pointer;
}

/* reset-password-css-start */
.mb-40 {
    margin-bottom: 40px;
}
.mb-42 {
    margin-bottom: 42px !important;
}
.mb-80 {
    margin-bottom: 80px;
}
.password-strength {
    font-family: var(--col-red-hat);
    font-size: var(--f-14);
    font-weight: var(--fw-600);
    line-height: 14px;
    text-align: left;
    margin-right: 13px;
}
.password-strength.weak {
    color: var(--col-warning);
}
.password-strength-text {
    font-family: var(--col-red-hat);
    font-size: var(--f-12);
    font-weight: var(--fw-500);
    line-height: 18px;
    text-align: left;
    color: var(--col-8A8A8A);
}
.strendth-fill {
    width: 100%;
    height: 6px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--col-EAEAEA);
}
.strendth-fill.weak {
    background-color: var(--col-warning) !important;
}
  
/* password-updated */
  
.password-updated h3 {
    font-family: var(--col-red-hat);
    font-size: var(--f-32);
    font-weight: var(--fw-600);
    line-height: 42.34px;
    text-align: center;
    color: var(--col-333333);
}
  
.password-updated p {
    font-family: var(--col-red-hat);
    font-size: var(--f-16);
    font-weight: var(--fw-500);
    line-height: 21.17px;
    text-align: center;
    color: var(--col-757575);
    margin-bottom: 42px;
}
  
@media screen and (max-width: 991.8px) {
    .left-box_form .welcome-box {
      /* updated*/
      margin-bottom: 12px;
    }
    .left-box_form h1 {
      font-size: var(--f-26);
    }
    .left-box_form h2 {
      font-size: var(--f-20);
      margin-bottom: 18px;
    }
    /* updated */
    .input-box label,
    .form-control::placeholder,
    .other-login-info,
    .login-opts > div,
    .form-control {
      font-size: var(--f-14);
    }
    .forgot-password {
      margin-bottom: 18px;
    }
    .left-box {
      padding: 40px 16px 0 16px;
    }
    .btn-box .signin-btn {
      margin-bottom: 18px;
      font-size: var(--f-16);
    }
    .version {
      margin-top: 20px;
      font-size: var(--f-14);
    }
    .left-box .brand-logo {
      width: 14pc;
    }
    .right-box {
      background-size: cover;
      background-position: inherit;
    }
    .right-text {
      position: relative;
    }
    .right-text p {
      font-size: var(--f-26) !important;
      line-height: 34.63px;
    }
    .mb-40 {
      margin-bottom: 32px;
    }
    /* add-user-modal */
    .common-model.custom-two {
      padding: 0 16px;
    }
}
  
@media screen and (max-width: 1200px) {
    .right-text p {
      font-size: var(--f-32);
    }
}
  
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .right-img {
      height: 600px;
    }
}
  
@media screen and (max-width: 1500px) {
    .left-box .brand-logo {
      width: 15pc;
    }
    .left-box {
      padding: 38px 33px 0 33px;
    }
    .left-box_form .seperator,
    .btn-box .signin-btn {
      margin-bottom: 18px;
    }
    .left-box_form h2 {
      margin-bottom: 20px;
    }
    .left-box_form .input-box:nth-child(1) {
      margin-bottom: 15px;
    }
    .forgot-password {
      margin-bottom: 18px;
    }
    .version {
      margin-top: 20px;
    }
    .mb-80 {
      margin-bottom: 60px;
    }
}

/* login/forget css ends */
