.main-header{
    background-color: var(--col-lighter);
    max-height: 78px;
    height: 78px;
}
.main-header .logo-div{
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    border-bottom: 1px solid transparent;
}
.main-header .header-menu{
    border-radius: 30px 0 0 0;
    padding: 14px 50px 14px 23px;
    border-bottom: 1px solid var(--col-E9E0E0);
}
.main-header .header-menu .header-title{
    font-family: var(--col-Noto);
    font-size: var(--f-26);
    font-weight: var(--fw-500);
    line-height: 35.41px;
    margin-right: 4px;
}
.main-header .header-menu .right-btns-div{
    gap: 12px;
}
.main-header .header-menu .right-btns-div .header-small-btn{
    border-radius: 100%;
    background-color: var(--col-light1);
    border: 1px solid var(--col-E9E0E0);
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}
.header-profile .dropdown-toggle{
    border-radius: 50px;
    background-color: var(--col-light1);
    border: 1px solid var(--col-E9E0E0);
    height: 50px;
    min-height: 50px;
    padding: 5px 6px;
    gap: 11px;
}
.header-profile .dropdown-toggle .info-div{
    gap: 8px;
}
.header-profile .dropdown-toggle .info-div .img-area{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
}
.header-profile .dropdown-toggle .info-div .user-info{
    color: var(--col-darker);
    font-size: var(--f-18);
    font-weight: var(--fw-600);
    line-height: 23.81px;
}
.header-profile .dropdown-toggle .info-div .user-info p{
    color: var(--col-darker);
    font-size: var(--f-10);
    font-weight: var(--fw-500);
    line-height: 13.23px;
}
.header-profile .dropdown-menu{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--col-DDE4F0);
    border-radius: 8px;
    font-size: var(--f-14);
    font-weight: var(--fw-500);
    line-height: 24px;
    letter-spacing: 0.01em;
}
.header-profile .dropdown-menu li{
    height: 56px;
    min-height: 56px;
    max-height: 56px;
    gap: 8px;
    padding: 0 16px;
    border-bottom: 1px solid var(--col-DDE4F0);
    cursor: pointer;
}
.header-profile .dropdown-menu li:last-child{
    border-bottom: none;
}
@media screen and (max-width: 991.8px) {
    .main-header .header-menu{
        padding: 14px 23px;
    }
    .main-header .header-menu .header-title{
        font-size: var(--f-20);
        line-height: 24px;
    }
    .main-header .header-menu .right-btns-div{
        gap: 8px;
    }
    .main-header .header-menu .right-btns-div .header-small-btn{
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
    }
}