
/* slider css starts */
.sidebar-main-view {
    height: calc(100vh - 78px);
    background-color: var(--col-lighter);
    width: 250px;
    max-width: 250px;
    overflow: hidden;
    padding: 31px 0px 20px 0;
}
.sidebar-main-view li.sidebar-list {
    font-size: var(--f-16);
    font-weight: var(--fw-600);
    line-height: 21.17px;
    gap: 18px;
    margin-bottom: 4px;
    padding: 12px 24px;
    word-break: keep-all;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--col-darker);
}
.sidebar-main-view li.sidebar-list .sidebar-icons{
    width: 24px; 
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}
.sidebar-main-view li.sidebar-list svg path {
    transition: all 0.3s ease-in-out;
}
.sidebar-main-view li.sidebar-list.active {
    color: var(--col-white);
    background-color: var(--col-C52B2B);
}
.sidebar-main-view li.sidebar-list.active svg path {
    fill: var(--col-white);
}
.sidebar-main-view li.sidebar-list.active::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 7px;
    border-radius: 0 10px 10px 0;
    height: 70%;
    width: 5px;
    background-color: var(--col-white);
}

.slider-btn {
    top: 6px;
    left: 63px;
    border-radius: 100%;
    border: 1px solid var(--col-DDE4F0);
    max-width: 24px !important;
    width: 24px !important;
    max-height: 30px;
    z-index: 110;
    transition: all ease-in-out 0.3s !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.slider-btn img {
    transform: rotate(180deg);
    margin-left: 2px;
}
.slider-btn.open {
    left: 240px;
}
.slider-btn.open img {
    transform: rotate(0deg);
    margin-left: -3px;
}
@media screen and (max-width: 991.8px) {
    #MenuSidebarMobileView2 .w-100 {
        width: auto !important;
    }
    #MenuSidebarMobileView2.show .w-100{
        width: 100% !important;
    }
    .sidebar-main-view {
        position: fixed !important;
        left: 0px !important;
        top: 78px !important;
        z-index: 100 !important;
        transition: all ease-in-out 0.3s !important;
        width: 74px !important;
        max-width: 74px !important;
    }
    .sidebar-main-view .sidebar-list {
        gap: 14px !important;
    }
    .sidebar-main-view .sidebar-list span {
        width: 0px;
        max-width: 0px;
        visibility: hidden;
        white-space: nowrap;
        transition: all ease-in-out 0.3s !important;
    }
    .sidebar-main-view.show {
        width: 250px !important;
        max-width: 250px !important;
    }
    .sidebar-main-view.show .sidebar-list span {
        width: 100%;
        max-width: 100%;
        visibility: visible;
        transition: all ease-in-out 0.5s !important;
    }
}